### Create Visualization Data Time Series with User Supports data

In [59]:
#Debbie Hofman June 2016

import pandas as pd

# Read in the grouped data from Neo4j (see workbook for ResultsGroupedByCandidateTopic)

df = pd.read_csv("./daily_supports_results_scrubbed.csv")
print len(df)
df.head()

300226

,Unnamed: 0,year,month,day,supports,Trump,Clinton,Sanders,Cruz,Rubio,topic,frequency
0,0,2006,3,21,none,none,none,none,none,none,racial issues,1
1,1,2006,3,30,none,none,none,none,none,none,racial issues,1
2,2,2006,8,31,none,neu,none,none,none,none,none,1
3,3,2006,9,8,none,none,none,none,none,none,women's issues (not abortion though),1
4,4,2006,12,22,none,neu,none,none,none,none,none,7

In [72]:
#unpivot data for candidates
df2 = pd.melt(df, id_vars=['day','month','year','supports','topic','frequency'], \
    value_vars=['Trump','Clinton','Sanders','Cruz','Rubio'], \
    var_name='candidate', value_name='sentiment')

In [73]:
df2.head()

,day,month,year,supports,topic,frequency,candidate,sentiment
0,21,3,2006,none,racial issues,1,Trump,none
1,30,3,2006,none,racial issues,1,Trump,none
2,31,8,2006,none,none,1,Trump,neu
3,8,9,2006,none,women's issues (not abortion though),1,Trump,none
4,22,12,2006,none,none,7,Trump,neu

In [74]:
#drop rows where sentiment is not available
df2=df2[~(df2['sentiment']=='none')]

In [75]:
df2.head()

    day  month  year supports topic  frequency candidate sentiment
2    31      8  2006     none  none          1     Trump       neu
4    22     12  2006     none  none          7     Trump       neu
5    12      5  2007     none  none          1     Trump       neg
6    24      8  2007     none  none          1     Trump       neu
26   29      8  2008    Trump  none          1     Trump       neg

In [76]:
df2.sort(['year','month','day','supports', 'topic', 'candidate','sentiment'], inplace=True)

In [77]:
df2.to_csv('scrubbed_supports_results.csv', index=False)

In [83]:
#number should be a little higher than original file because some tweets have multiple candidate references.
print df2['frequency'].sum()

73808505

In [84]:
print df['frequency'].sum()

63019564

In [85]:
print df[df['supports']!='none']['frequency'].sum()

38048988

In [86]:
print len(df2)

579701