In [1]:
hourly_query="""
match (t:Tweet_{0})<-[:POSTS]-(u:User_{0}) \
WITH u.screen_name as user, labels(u)[1] as supports, \
(toInt(t.timestamp_int) / 3600000) as hour_group, count(t) as frequency, \
MIN(t.timestamp_int) as mints \
RETURN user, supports, frequency, mints \
order by mints, frequency desc"""

hourly_header=['year', 'month', 'day', 'hour', 'user', 'supports', 'frequency', 'mints']

In [2]:
partitions = ['2015_10_11', '2015_10_12', '2015_10_13', '2015_10_14', '2015_10_15',\
              '2016_1_26', '2016_1_27', '2016_1_28', '2016_1_29', '2016_1_30', '2016_2_2', '2016_2_3', \
              '2016_2_4', '2016_2_5', '2016_2_6', '2016_2_7', '2016_2_8', '2016_2_9', '2016_2_10',\
              '2016_2_11', '2016_2_12', '2016_2_13', '2016_2_14', '2016_2_15', \
              '2016_2_23', '2016_2_24', '2016_2_25', '2016_2_26', '2016_2_27', \
              '2016_3_1', '2016_3_2','2016_3_3', '2016_3_4', '2016_3_5', '2016_3_6', '2016_3_7', \
              '2016_3_8', '2016_3_9', '2016_3_10', '2016_3_11']

In [3]:
from datetime import datetime

# Append the day and hour adjusted to EST (UTC-5)
# convert ms to s for python
def converttime(ts):
    ts_adjust = (ts/1000) - (3600*5)
    dt = datetime.utcfromtimestamp(ts_adjust)
    return dt.year, dt.month, dt.day, dt.hour

# When an item is retweeted, we keep a copy of the original tweet (based on retweet_status).
# This copy might be from prior to our day.  we need to remove this data from the final result.
def keepRetweetedItem(partition, ts):
    ts_adjust = ts / 1000
    dt = datetime.utcfromtimestamp(ts_adjust)
    year, month, day = partition.split('_')
    return ((int(year)==dt.year) and (int(month)==dt.month) and (int(day)==dt.day))

print converttime(1444607999000)
print keepRetweetedItem('2015_10_11',1444607999000)
print keepRetweetedItem('2015_10_11',1428188930000)

(2015, 10, 11, 18)
True
False

In [5]:
import time
import logging
import csv
from neo4jreader import neo4j_reader

#set up logging
logger = logging.getLogger('TotalTweetsPerUser')
hdlr = logging.FileHandler('./user_total.log')
formatter = logging.Formatter('%(asctime)s %(levelname)s %(message)s')
hdlr.setFormatter(formatter)
logger.addHandler(hdlr) 
logger.setLevel(logging.INFO)

reader = neo4j_reader('local',logger)

with open('total_user_results.csv', 'wb') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(hourly_header)
    
    for partition in partitions:
    #for partition in ['2015_10_12']:

        start = time.time()

        formatted_query = hourly_query.format(partition)
        #print formatted_query

        for record in reader.runquery(formatted_query):
            outrecord = []
            for i in range(len(record)):
                outrecord.append(record[i])

            mints = int(outrecord[3])
                
            #convert time from UTC to EST and add day/hour information to output
            year, month, day, hour = converttime(mints)
            outrecord = [year, month, day, hour] + outrecord

            csvwriter.writerow(outrecord)  


        print partition, time.time() - start

2015_10_11 3.5645468235
2015_10_12 40.2831630707
2015_10_13 48.1056950092
2015_10_14 84.088643074
2015_10_15 12.0594758987
2016_1_26 68.8410768509
2016_1_27 63.7389481068
2016_1_28 57.2371370792
2016_1_29 70.6742260456
2016_1_30 47.133742094
2016_2_2 102.699661016
2016_2_3 65.3797810078
2016_2_4 63.3711929321
2016_2_5 77.9141759872
2016_2_6 47.3914499283
2016_2_7 76.3006231785
2016_2_8 51.7149670124
2016_2_9 61.8810970783
2016_2_10 91.382434845
2016_2_11 58.56508708
2016_2_12 64.6844749451
2016_2_13 73.3836369514
2016_2_14 65.5510220528
2016_2_15 53.3509352207
2016_2_23 64.1533608437
2016_2_24 94.1156578064
2016_2_25 79.1427969933
2016_2_26 97.7849898338
2016_2_27 74.3128311634
2016_3_1 117.03241396
2016_3_2 140.763387918
2016_3_3 118.850497007
2016_3_4 115.089944124
2016_3_5 86.532407999
2016_3_6 88.6292390823
2016_3_7 63.697357893
2016_3_8 84.5285990238
2016_3_9 91.736084938
2016_3_10 76.6792151928
2016_3_11 21.3404188156

In [6]:
import pandas as pd

#verify counts by day
df = pd.read_csv('total_user_results.csv')
df

,year,month,day,hour,user,supports,frequency,mints
0,2011,9,2,13,nbcuniverso,NaN,1,1314988208000
1,2011,11,16,5,nintendocapr,NaN,1,1321438234000
2,2012,4,7,8,researchinpsych,NaN,1,1333805974000
3,2012,11,6,14,realdonaldtrump,UserSupportsTrump_2015_10_11,1,1352229352000
4,2012,11,6,14,holytaco,NaN,1,1352229456000
5,2013,2,6,22,lisagualtieri,NaN,1,1360207592000
6,2013,2,8,20,benlowy,NaN,1,1360374148000
7,2013,2,17,14,andrea_delgado7,NaN,1,1361127785000
8,2013,2,27,14,andrea_delgado7,NaN,1,1361991792000
9,2013,3,4,20,jordanems,NaN,1,1362445434000
10,2013,3,12,13,qvc,NaN,1,1363112126000
11,2013,4,3,15,swartzwelderj,NaN,1,1365020940000
12,2013,5,4,18,primitvenature,NaN,1,1367709791000
13,2013,5,30,19,czerina,NaN,1,1369959377000
14,2013,6,26,0,supremechalupa,NaN,1,1372224919000
15,2013,7,29,14,sausalitoscope,NaN,1,1375124665000
16,2013,8,17,7,nalin78,NaN,1,1376744184000
17,2013,11,2,16,fawfulfan,NaN,1,1383426066000
18,2013,11,12,13,drmayaangelou,NaN,1,1384282454000
19,2013,11,18,19,aidoxi,NaN,1,1384819465000
20,2014,4,1,20,jimmylemons,NaN,1,1396402163000
21,2014,4,26,18,blippoblappo,NaN,1,1398553800000
22,2014,5,17,11,rickolantern,NaN,1,1400343111000
23,2014,6,29,22,justcoolnshawn,NaN,1,1404098898000
24,2014,7,22,10,harry_styles,NaN,1,1406041734000
25,2014,7,30,16,nancypelosinose,NaN,1,1406754545000
26,2014,7,31,10,vp,NaN,1,1406820431000
27,2014,8,7,15,doctorpug,NaN,1,1407445091000
28,2014,8,31,15,judicialwatch,NaN,1,1409517506000
29,2014,9,15,18,benliow,NaN,1,1410823987000
...,...,...,...,...,...,...,...,...
39987668,2016,3,10,21,janymiller,NaN,1,1457661677133
39987669,2016,3,10,21,pizzafreak20000,NaN,1,1457661677145
39987670,2016,3,10,21,moniquekhmb,NaN,1,1457661677157
39987671,2016,3,10,21,hungryscilian,NaN,1,1457661677286
39987672,2016,3,10,21,waseemalghafry,NaN,1,1457661677394
39987673,2016,3,10,21,koumatsuzaki,NaN,1,1457661677497
39987674,2016,3,10,21,ismith18,NaN,1,1457661677548
39987675,2016,3,10,21,lexis_marieee16,NaN,1,1457661677566
39987676,2016,3,10,21,locmitchell1500,NaN,1,1457661677588
39987677,2016,3,10,21,msully4321,NaN,1,1457661677676
39987678,2016,3,10,21,neun11porsche,NaN,1,1457661677707
39987679,2016,3,10,21,keegan__9,NaN,1,1457661677716
39987680,2016,3,10,21,chrislewislouie,NaN,1,1457661677728
39987681,2016,3,10,21,freeaveragejoe,NaN,1,1457661677735
39987682,2016,3,10,21,patrickcoffee,NaN,1,1457661677751
39987683,2016,3,10,21,dwinievwavier,NaN,1,1457661677768
39987684,2016,3,10,21,petersuderman,NaN,1,1457661677847
39987685,2016,3,10,21,usa_coptic,UserSupportsTrump_2016_3_11,1,1457661677895
39987686,2016,3,10,21,kathymfindley,NaN,1,1457661677927
39987687,2016,3,10,21,kirstinelaine1,NaN,1,1457661677930
39987688,2016,3,10,21,sageglass,NaN,1,1457661677958
39987689,2016,3,10,21,rhiannonking5,NaN,1,1457661677967
39987690,2016,3,10,21,dianetoucan,NaN,1,1457661678009
39987691,2016,3,10,21,ipoliticsca,NaN,1,1457661678030
39987692,2016,3,10,21,askmjj,NaN,1,1457661678044
39987693,2016,3,10,21,ohmykennie,NaN,1,1457661678056
39987694,2016,3,10,21,pounds_joe,NaN,1,1457661678101
39987695,2016,3,10,21,travisgagliano,NaN,1,1457661678102
39987696,2016,3,10,21,bccooney2000,NaN,1,1457661678115
39987697,2016,3,10,21,scurvytooth,NaN,1,1457661678156

In [19]:
df2 = df.reset_index()
df2.fillna('none',inplace=True)

In [21]:
#convert "supports" column to just have the candidate name
df2['supports'] = df2['supports'].apply(lambda x: (x.split('_')[0]).replace('UserSupports',''))
df2

,index,year,month,day,hour,user,supports,frequency,mints
0,0,2011,9,2,13,nbcuniverso,none,1,1314988208000
1,1,2011,11,16,5,nintendocapr,none,1,1321438234000
2,2,2012,4,7,8,researchinpsych,none,1,1333805974000
3,3,2012,11,6,14,realdonaldtrump,Trump,1,1352229352000
4,4,2012,11,6,14,holytaco,none,1,1352229456000
5,5,2013,2,6,22,lisagualtieri,none,1,1360207592000
6,6,2013,2,8,20,benlowy,none,1,1360374148000
7,7,2013,2,17,14,andrea_delgado7,none,1,1361127785000
8,8,2013,2,27,14,andrea_delgado7,none,1,1361991792000
9,9,2013,3,4,20,jordanems,none,1,1362445434000
10,10,2013,3,12,13,qvc,none,1,1363112126000
11,11,2013,4,3,15,swartzwelderj,none,1,1365020940000
12,12,2013,5,4,18,primitvenature,none,1,1367709791000
13,13,2013,5,30,19,czerina,none,1,1369959377000
14,14,2013,6,26,0,supremechalupa,none,1,1372224919000
15,15,2013,7,29,14,sausalitoscope,none,1,1375124665000
16,16,2013,8,17,7,nalin78,none,1,1376744184000
17,17,2013,11,2,16,fawfulfan,none,1,1383426066000
18,18,2013,11,12,13,drmayaangelou,none,1,1384282454000
19,19,2013,11,18,19,aidoxi,none,1,1384819465000
20,20,2014,4,1,20,jimmylemons,none,1,1396402163000
21,21,2014,4,26,18,blippoblappo,none,1,1398553800000
22,22,2014,5,17,11,rickolantern,none,1,1400343111000
23,23,2014,6,29,22,justcoolnshawn,none,1,1404098898000
24,24,2014,7,22,10,harry_styles,none,1,1406041734000
25,25,2014,7,30,16,nancypelosinose,none,1,1406754545000
26,26,2014,7,31,10,vp,none,1,1406820431000
27,27,2014,8,7,15,doctorpug,none,1,1407445091000
28,28,2014,8,31,15,judicialwatch,none,1,1409517506000
29,29,2014,9,15,18,benliow,none,1,1410823987000
...,...,...,...,...,...,...,...,...,...
39987668,39987668,2016,3,10,21,janymiller,none,1,1457661677133
39987669,39987669,2016,3,10,21,pizzafreak20000,none,1,1457661677145
39987670,39987670,2016,3,10,21,moniquekhmb,none,1,1457661677157
39987671,39987671,2016,3,10,21,hungryscilian,none,1,1457661677286
39987672,39987672,2016,3,10,21,waseemalghafry,none,1,1457661677394
39987673,39987673,2016,3,10,21,koumatsuzaki,none,1,1457661677497
39987674,39987674,2016,3,10,21,ismith18,none,1,1457661677548
39987675,39987675,2016,3,10,21,lexis_marieee16,none,1,1457661677566
39987676,39987676,2016,3,10,21,locmitchell1500,none,1,1457661677588
39987677,39987677,2016,3,10,21,msully4321,none,1,1457661677676
39987678,39987678,2016,3,10,21,neun11porsche,none,1,1457661677707
39987679,39987679,2016,3,10,21,keegan__9,none,1,1457661677716
39987680,39987680,2016,3,10,21,chrislewislouie,none,1,1457661677728
39987681,39987681,2016,3,10,21,freeaveragejoe,none,1,1457661677735
39987682,39987682,2016,3,10,21,patrickcoffee,none,1,1457661677751
39987683,39987683,2016,3,10,21,dwinievwavier,none,1,1457661677768
39987684,39987684,2016,3,10,21,petersuderman,none,1,1457661677847
39987685,39987685,2016,3,10,21,usa_coptic,Trump,1,1457661677895
39987686,39987686,2016,3,10,21,kathymfindley,none,1,1457661677927
39987687,39987687,2016,3,10,21,kirstinelaine1,none,1,1457661677930
39987688,39987688,2016,3,10,21,sageglass,none,1,1457661677958
39987689,39987689,2016,3,10,21,rhiannonking5,none,1,1457661677967
39987690,39987690,2016,3,10,21,dianetoucan,none,1,1457661678009
39987691,39987691,2016,3,10,21,ipoliticsca,none,1,1457661678030
39987692,39987692,2016,3,10,21,askmjj,none,1,1457661678044
39987693,39987693,2016,3,10,21,ohmykennie,none,1,1457661678056
39987694,39987694,2016,3,10,21,pounds_joe,none,1,1457661678101
39987695,39987695,2016,3,10,21,travisgagliano,none,1,1457661678102
39987696,39987696,2016,3,10,21,bccooney2000,none,1,1457661678115
39987697,39987697,2016,3,10,21,scurvytooth,none,1,1457661678156

In [29]:
df3a = df2[['year','month','day','user','supports','frequency']]
df3 = df3a.groupby([df3a['year'],df3a['month'],df3a['day'],df3a['user'],df3a['supports']]).sum().reset_index()
df3

          year  month  day             user supports  frequency
0         2006      3   21      rayreadyray     none          3
1         2006      3   30             adam     none          1
2         2006      3   30              dom     none          1
3         2006      3   30             noah     none          1
4         2006      3   30      rayreadyray     none          2
5         2006      3   30       timroberts     none          2
6         2006      6   17              nic     none          1
7         2006      6   17           sharon     none          1
8         2006      6   17           telene     none          1
9         2006      8   31          kmikeym     none          1
10        2006      9    8            sacca     none          1
11        2006     11    7     geoffreylong     none          1
12        2006     11   16            drewm     none          1
13        2006     12    5           minger     none          1
14        2006     12   22          so_n_so    Trump          1
15        2006     12   22          so_n_so     none          6
16        2007      3   21          nytimes     none          1
17        2007      3   29       antichrist     none          1
18        2007      5   12         ursonate     none          1
19        2007      7   30   hunchback_slut     none          3
20        2007      8   18   hunchback_slut     none          1
21        2007      8   24       mtvmoonman     none          1
22        2007      9    6   hunchback_slut     none          1
23        2007      9   10   hunchback_slut     none          1
24        2007     12   31      teelajbrown     none          1
25        2008      1    9        market_jp     none          1
26        2008      1   10         rnz_news     none          1
27        2008      2    9     bostonherald     none          1
28        2008      2    9  newestdiscovery     none          1
29        2008      2   10        tomwatson     none          1
...        ...    ...  ...              ...      ...        ...
22605953  2016      3   10            zzyzx     none          4
22605954  2016      3   10       zzyzxbaker     none         13
22605955  2016      3   10   zzzahpskitpxza     none          1
22605956  2016      3   10        zzzariah_     none          1
22605957  2016      3   10           zzzbor     none          1
22605958  2016      3   10         zzzcarpe     none          1
22605959  2016      3   10      zzzdeprived     none          1
22605960  2016      3   10       zzzertweet     none          2
22605961  2016      3   10   zzzfzqlikehdot     none          1
22605962  2016      3   10           zzzgns     none          1
22605963  2016      3   10      zzzjennifer     none          1
22605964  2016      3   10   zzzkozu1q23451     none          2
22605965  2016      3   10           zzzldn     none          1
22605966  2016      3   10       zzzmeowzzz     none          1
22605967  2016      3   10          zzznima     none          1
22605968  2016      3   10          zzzodaa     none          1
22605969  2016      3   10          zzzomgg     none          1
22605970  2016      3   10         zzzpills     none          3
22605971  2016      3   10      zzzqaiz9118     none          5
22605972  2016      3   10         zzzsmurf     none          3
22605973  2016      3   10         zzztop74     none          1
22605974  2016      3   10         zzzweber     none          1
22605975  2016      3   10          zzzyyyz     none          1
22605976  2016      3   10        zzzz_llll     none          8
22605977  2016      3   10     zzzzaaaacccc     none          1
22605978  2016      3   10  zzzzaaaacccchhh     none          2
22605979  2016      3   10         zzzzalex     none          2
22605980  2016      3   10   zzzzt1j0203040     none          1
22605981  2016      3   10        zzzzzzart     none          1
22605982  2016      3   10   zzzzzznz2av211     none          3

[22605983 rows x 6 columns]

In [32]:
df3[(df3['supports']=='Trump') & (df3['year']==2015) & (df3['month']==10) & (df3['day']==15)]['frequency'].sum()

16

In [34]:
print df3['frequency'].sum(), df['frequency'].sum()

78092254 78092254

In [35]:
df3.to_csv('daily_users_supporters.csv')

In [ ]:

# total = df2['frequency'].sum()
# print total

# with throwaway
# print total + 479103 #9172444