### Extract big "grouped" file of users with candidate sentiment or topic, from neo4j

In [ ]:
hourly_query="""
match (t:Tweet_{0})<-[:POSTS]-(u:User_{0}) \
where exists(t.mentions_Trump) \
or exists(t.mentions_Clinton) \
or exists(t.mentions_Sanders) \
or exists(t.mentions_Cruz) \
or exists(t.mentions_Rubio) \
or exists(t.topic) \
WITH t.mentions_Trump as Trump, \
t.mentions_Clinton as Clinton, \
t.mentions_Sanders as Sanders, \
t.mentions_Cruz as Cruz, \
t.mentions_Rubio as Rubio, \
t.topic as topic, \
u.screen_name as user, (toInt(t.timestamp_int) / 3600000) as hour_group, count(t) as frequency, \
MIN(t.timestamp_int) as mints \
RETURN user, mints, Trump, Clinton, Sanders, Cruz, Rubio, \
topic, frequency \
order by frequency desc"""

hourly_header=['year', 'month', 'day', 'hour', 'user', 'mints',\
               'Trump','Clinton','Sanders','Cruz','Rubio',\
               'topic','frequency']

In [ ]:
partitions = ['2015_10_11', '2015_10_12', '2015_10_13', '2015_10_14', '2015_10_15',\
              '2016_1_26', '2016_1_27', '2016_1_28', '2016_1_29', '2016_1_30', '2016_2_2', '2016_2_3', \
              '2016_2_4', '2016_2_5', '2016_2_6', '2016_2_7', '2016_2_8', '2016_2_9', '2016_2_10',\
              '2016_2_11', '2016_2_12', '2016_2_13', '2016_2_14', '2016_2_15', \
              '2016_2_23', '2016_2_24', '2016_2_25', '2016_2_26', '2016_2_27', \
              '2016_3_1', '2016_3_2','2016_3_3', '2016_3_4', '2016_3_5', '2016_3_6', '2016_3_7', \
              '2016_3_8', '2016_3_9', '2016_3_10', '2016_3_11']

In [ ]:
from datetime import datetime

# Append the day and hour adjusted to EST (UTC-5)
# convert ms to s for python
def converttime(ts):
    ts_adjust = (ts/1000) - (3600*5)
    dt = datetime.utcfromtimestamp(ts_adjust)
    return dt.year, dt.month, dt.day, dt.hour

# When an item is retweeted, we keep a copy of the original tweet (based on retweet_status).
# This copy might be from prior to our day.  we need to remove this data from the final result.
def keepRetweetedItem(partition, ts):
    ts_adjust = ts / 1000
    dt = datetime.utcfromtimestamp(ts_adjust)
    year, month, day = partition.split('_')
    return ((int(year)==dt.year) and (int(month)==dt.month) and (int(day)==dt.day))

print converttime(1444607999000)
print keepRetweetedItem('2015_10_11',1444607999000)
print keepRetweetedItem('2015_10_11',1428188930000)

In [ ]:
import time
import logging
import csv
from neo4jreader import neo4j_reader

#set up logging
logger = logging.getLogger('ResultsGroupedByCandidateTopic2')
hdlr = logging.FileHandler('./user_results2_tagging.log')
formatter = logging.Formatter('%(asctime)s %(levelname)s %(message)s')
hdlr.setFormatter(formatter)
logger.addHandler(hdlr) 
logger.setLevel(logging.INFO)

reader = neo4j_reader('local',logger)

with open('hourly_user_results2.csv', 'wb') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(hourly_header)
    
    #throwaway=0
    
    for partition in partitions:

        start = time.time()

        formatted_query = hourly_query.format(partition)
        #print formatted_query

        for record in reader.runquery(formatted_query):
            outrecord = []
            for i in range(len(record)):
                outrecord.append(record[i])

            mints = int(outrecord[1])
            
            #if (keepRetweetedItem(partition, mints)):
                
            #some of the neutral items were labeled true instead of neu, correct these.
            #TODO: correct these in the database.
            for n in range(2,7):
                if ("true" in str(outrecord[n]).lower()):
                    outrecord[n]="neu"

            #convert time from UTC to EST and add day/hour information to output
            year, month, day, hour = converttime(mints)
            outrecord = [year, month, day, hour] + outrecord

            csvwriter.writerow(outrecord)  
                
#             else:
#                 throwaway = throwaway + 1


        print partition, time.time() - start
        
    #print throwaway

### Convert Hourly to Daily

In [ ]:
import pandas as pd

df2 = pd.read_csv('hourly_user_results2.csv')

In [ ]:
df3a = df2[['year', 'month', 'day','user','Trump','Clinton','Sanders','Cruz','Rubio',\
               'topic','frequency']]

In [ ]:
df3 = df3a.reset_index()
df3.fillna('none',inplace=True)
df3

In [ ]:
#Daily data

df4 = df3.groupby([df3['year'],df3['month'],df3['day'],df3['user'],df3['Trump'],\
                   df3['Clinton'],df3['Sanders'],\
            df3['Cruz'],df3['Rubio'],df3['topic']]).sum().reset_index()
df4

In [ ]:
df4.to_csv('daily_user_results2.csv')

### Extract, pivot data, and merge back to create our transformed file.

In [1]:
import pandas as pd
df4a = pd.read_csv('daily_user_results2.csv')

In [2]:
import numpy as np

#use partition list to define list of days...process one day at a time and write output
#for partition in partitions:
    
#df4b = df4a[(df4a['year']==2015) & (df4a['month']==10) &(df4a['day']==15)]
df4c = df4a.replace('none', np.nan)

In [8]:
pivoted = pd.DataFrame()

lastcandidate=''

for candidate in ['Trump','Clinton','Sanders','Rubio','Cruz']:
    
    dfp = pd.pivot_table(df4c,index=["year","month","day","user"],values=["frequency"],
               columns=[candidate],aggfunc=[np.sum],fill_value=0)
    
    dfp.columns = dfp.columns.get_level_values(2)
    dfp.reset_index(inplace=True)
    dfp.columns = ['year','month','day','user', '_'.join([candidate,'neg']),'_'.join([candidate,'neu']),\
                   '_'.join([candidate,'pos'])]
    
    print dfp[0:5]
    
    if (lastcandidate==''):
        pivoted = dfp
    else:
        df_merged = pd.merge(pivoted, dfp, on=['year','month','day','user'],how='outer')
        df_merged.sort(['year','month','day','user'],inplace=True)
        df_merged[0:20]
        pivoted = df_merged
        
    lastcandidate = candidate
    print pivoted[0:5]

   year  month  day         user  Trump_neg  Trump_neu  Trump_pos
0  2006      8   31      kmikeym          0          1          0
1  2006     12   22      so_n_so          0          7          0
2  2007      5   12     ursonate          1          0          0
3  2007      8   24   mtvmoonman          0          1          0
4  2008      8   29  huffpostpol          1          0          0
   year  month  day         user  Trump_neg  Trump_neu  Trump_pos
0  2006      8   31      kmikeym          0          1          0
1  2006     12   22      so_n_so          0          7          0
2  2007      5   12     ursonate          1          0          0
3  2007      8   24   mtvmoonman          0          1          0
4  2008      8   29  huffpostpol          1          0          0
   year  month  day       user  Clinton_neg  Clinton_neu  Clinton_pos
0  2008      1    9  market_jp            0            1            0
1  2008      1   10   rnz_news            0            1            0
2  2008      2   21   dbrowell            0            1            0
3  2008      3    4   dbrowell            1            0            0
4  2008      3    6     barack            0            1            0
          year  month  day        user  Trump_neg  Trump_neu  Trump_pos  \
0         2006      8   31     kmikeym          0          1          0
1         2006     12   22     so_n_so          0          7          0
2         2007      5   12    ursonate          1          0          0
3         2007      8   24  mtvmoonman          0          1          0
11311933  2008      1    9   market_jp        NaN        NaN        NaN

          Clinton_neg  Clinton_neu  Clinton_pos
0                 NaN          NaN          NaN
1                 NaN          NaN          NaN
2                 NaN          NaN          NaN
3                 NaN          NaN          NaN
11311933            0            1            0
   year  month  day         user  Sanders_neg  Sanders_neu  Sanders_pos
0  2008      7   27  amazingphil            1            0            0
1  2009      3   27  kellyoxford            0            1            0
2  2009      5    1   sensanders            0            4            0
3  2009      6   27   oliviamunn            1            0            0
4  2009      6   29   oliviamunn            1            0            0
   year  month  day        user  Trump_neg  Trump_neu  Trump_pos  Clinton_neg  \
0  2006      8   31     kmikeym          0          1          0          NaN
1  2006     12   22     so_n_so          0          7          0          NaN
2  2007      5   12    ursonate          1          0          0          NaN
3  2007      8   24  mtvmoonman          0          1          0          NaN
4  2008      1    9   market_jp        NaN        NaN        NaN            0

   Clinton_neu  Clinton_pos  Sanders_neg  Sanders_neu  Sanders_pos
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4            1            0          NaN          NaN          NaN
   year  month  day          user  Rubio_neg  Rubio_neu  Rubio_pos
0  2008      3   18   claytonbell          0          1          0
1  2009      5   27    marcorubio          0          1          0
2  2010      1   14  jordanraynor          0          1          0
3  2010      2   26     instafeed          1          0          0
4  2010      4    3      genenash          0          1          0
   year  month  day        user  Trump_neg  Trump_neu  Trump_pos  Clinton_neg  \
0  2006      8   31     kmikeym          0          1          0          NaN
1  2006     12   22     so_n_so          0          7          0          NaN
2  2007      5   12    ursonate          1          0          0          NaN
3  2007      8   24  mtvmoonman          0          1          0          NaN
4  2008      1    9   market_jp        NaN        NaN        NaN            0

   Clinton_neu  Clinton_pos  Sanders_neg  Sanders_neu  Sanders_pos  Rubio_neg  \
0          NaN          NaN          NaN          NaN          NaN        NaN
1          NaN          NaN          NaN          NaN          NaN        NaN
2          NaN          NaN          NaN          NaN          NaN        NaN
3          NaN          NaN          NaN          NaN          NaN        NaN
4            1            0          NaN          NaN          NaN        NaN

   Rubio_neu  Rubio_pos
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
   year  month  day             user  Cruz_neg  Cruz_neu  Cruz_pos
0  2008      3   30        publiustx         0         1         0
1  2010      8   16        kingjames         1         0         0
2  2012      3   14       tedcruzfan         1         0         0
3  2012      5   31  supportdewhurst         0         0         1
4  2012      6   11       dpjennings         0         1         0
   year  month  day        user  Trump_neg  Trump_neu  Trump_pos  Clinton_neg  \
0  2006      8   31     kmikeym          0          1          0          NaN
1  2006     12   22     so_n_so          0          7          0          NaN
2  2007      5   12    ursonate          1          0          0          NaN
3  2007      8   24  mtvmoonman          0          1          0          NaN
4  2008      1    9   market_jp        NaN        NaN        NaN            0

   Clinton_neu  Clinton_pos  Sanders_neg  Sanders_neu  Sanders_pos  Rubio_neg  \
0          NaN          NaN          NaN          NaN          NaN        NaN
1          NaN          NaN          NaN          NaN          NaN        NaN
2          NaN          NaN          NaN          NaN          NaN        NaN
3          NaN          NaN          NaN          NaN          NaN        NaN
4            1            0          NaN          NaN          NaN        NaN

   Rubio_neu  Rubio_pos  Cruz_neg  Cruz_neu  Cruz_pos
0        NaN        NaN       NaN       NaN       NaN
1        NaN        NaN       NaN       NaN       NaN
2        NaN        NaN       NaN       NaN       NaN
3        NaN        NaN       NaN       NaN       NaN
4        NaN        NaN       NaN       NaN       NaN

In [9]:
pivoted

,year,month,day,user,Trump_neg,Trump_neu,Trump_pos,Clinton_neg,Clinton_neu,Clinton_pos,Sanders_neg,Sanders_neu,Sanders_pos,Rubio_neg,Rubio_neu,Rubio_pos,Cruz_neg,Cruz_neu,Cruz_pos
0,2006,8,31,kmikeym,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,12,22,so_n_so,0,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,5,12,ursonate,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007,8,24,mtvmoonman,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,1,9,market_jp,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2008,1,10,rnz_news,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2008,2,21,dbrowell,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2008,3,4,dbrowell,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2008,3,6,barack,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2008,3,11,johnmiller,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2008,3,17,market_jp,NaN,NaN,NaN,0,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2008,3,18,claytonbell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN
17631289,2008,3,30,publiustx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
12,2008,5,6,antoniofrench,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2008,5,6,justiceroberts,NaN,NaN,NaN,0,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2008,5,6,supamagg,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2008,5,31,benstanfield,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2008,6,7,kafygi,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2008,6,9,usnews,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2008,7,27,amazingphil,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,2008,8,29,huffpostpol,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2008,10,15,danmiami,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2008,10,15,mariavt,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2008,10,15,neliasmith,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2008,10,25,thederekjohnson,0,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2008,10,30,donirvine,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2008,11,22,shaq,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2008,12,15,usnews,1,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2008,12,18,dkemper,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2008,12,22,parsifal,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17631260,2016,3,10,zzxlxxxzvlz888,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631261,2016,3,10,zzxvb1xu134,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631262,2016,3,10,zzyzx,NaN,NaN,NaN,1,1,0,2,1,0,NaN,NaN,NaN,NaN,NaN,NaN
17631263,2016,3,10,zzyzxbaker,1,2,2,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,3,4,1
17631264,2016,3,10,zzzahpskitpxza,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631265,2016,3,10,zzzariah_,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631266,2016,3,10,zzzbor,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18223507,2016,3,10,zzzcarpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
17631267,2016,3,10,zzzdeprived,NaN,NaN,NaN,1,0,0,1,0,0,0,1,0,1,0,0
17631268,2016,3,10,zzzertweet,NaN,NaN,NaN,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631269,2016,3,10,zzzfzqlikehdot,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631270,2016,3,10,zzzgns,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631271,2016,3,10,zzzjennifer,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631272,2016,3,10,zzzkozu1q23451,NaN,NaN,NaN,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631273,2016,3,10,zzzldn,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631274,2016,3,10,zzzmeowzzz,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631275,2016,3,10,zzznima,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631276,2016,3,10,zzzomgg,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631277,2016,3,10,zzzpills,NaN,NaN,NaN,0,1,0,0,1,2,NaN,NaN,NaN,NaN,NaN,NaN
17631278,2016,3,10,zzzqaiz9118,NaN,NaN,NaN,2,1,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
17631279,2016,3,10,zzzsmurf,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
17631280,2016,3,10,zzztop74,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631281,2016,3,10,zzzyyyz,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631282,2016,3,10,zzzz_llll,1,2,0,1,1,0,0,1,0,NaN,NaN,NaN,0,1,0
17631283,2016,3,10,zzzzaaaacccc,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17631284,2016,3,10,zzzzaaaacccchhh,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN
17631285,2016,3,10,zzzzalex,NaN,NaN,NaN,NaN,NaN,NaN,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN
17631286,2016,3,10,zzzzt1j0203040,NaN,NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17631287,2016,3,10,zzzzzzart,NaN,NaN,NaN,0,1,0,1,0,0,0,1,0,NaN,NaN,NaN
17631288,2016,3,10,zzzzzznz2av211,NaN,NaN,NaN,1,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# now read in our user file and merge that with the "supporters" information.

df_users = pd.read_csv('daily_users_supporters.csv')
df_users = df_users[['year','month','day','user','supports','frequency']]
df_users.head()

   year  month  day         user supports  frequency
0  2006      3   21  rayreadyray     none          3
1  2006      3   30         adam     none          1
2  2006      3   30          dom     none          1
3  2006      3   30         noah     none          1
4  2006      3   30  rayreadyray     none          2

In [11]:
df_users[0:200]

     year  month  day             user supports  frequency
0    2006      3   21      rayreadyray     none          3
1    2006      3   30             adam     none          1
2    2006      3   30              dom     none          1
3    2006      3   30             noah     none          1
4    2006      3   30      rayreadyray     none          2
5    2006      3   30       timroberts     none          2
6    2006      6   17              nic     none          1
7    2006      6   17           sharon     none          1
8    2006      6   17           telene     none          1
9    2006      8   31          kmikeym     none          1
10   2006      9    8            sacca     none          1
11   2006     11    7     geoffreylong     none          1
12   2006     11   16            drewm     none          1
13   2006     12    5           minger     none          1
14   2006     12   22          so_n_so    Trump          1
15   2006     12   22          so_n_so     none          6
16   2007      3   21          nytimes     none          1
17   2007      3   29       antichrist     none          1
18   2007      5   12         ursonate     none          1
19   2007      7   30   hunchback_slut     none          3
20   2007      8   18   hunchback_slut     none          1
21   2007      8   24       mtvmoonman     none          1
22   2007      9    6   hunchback_slut     none          1
23   2007      9   10   hunchback_slut     none          1
24   2007     12   31      teelajbrown     none          1
25   2008      1    9        market_jp     none          1
26   2008      1   10         rnz_news     none          1
27   2008      2    9     bostonherald     none          1
28   2008      2    9  newestdiscovery     none          1
29   2008      2   10        tomwatson     none          1
..    ...    ...  ...              ...      ...        ...
170  2009     10   19        derek6748     none          1
171  2009     10   19   panchovillaali     none          1
172  2009     10   19            tv2nz     none          2
173  2009     10   20   biobankcentral     none          1
174  2009     10   24       marcorubio     none          2
175  2009     10   26     arianagrande     none          2
176  2009     10   26       lanibear55     none          1
177  2009     10   26          lynnfyi     none          1
178  2009     10   28         edmcmann     none          3
179  2009     11    6  barack_on_blast     none          1
180  2009     11    7        ochocinco     none          1
181  2009     11    9  brianjacobsmith     none          1
182  2009     11   14         tcotchat     none          1
183  2009     11   16    citizenhelene     none          1
184  2009     11   17       coondawg68     none          1
185  2009     11   17          maedbh_     none          1
186  2009     11   18       davidbrody     none          1
187  2009     11   19       davidbrody     none          1
188  2009     11   23       wolfen1842     none          1
189  2009     11   27          foxnews     none          4
190  2009     11   30       natehorton     none          1
191  2009     12    5         fbgchase     none          1
192  2009     12    5   trump__network     none          1
193  2009     12    6   trump__network     none          2
194  2009     12    8             dril     none          1
195  2009     12    9    stephenathome     none          1
196  2009     12   10       trumpvodka     none          3
197  2009     12   14  homesickblues37     none          1
198  2009     12   14   zerlinamaxwell     none          1
199  2009     12   16  barack_on_blast     none          1

[200 rows x 6 columns]

In [12]:
df_merged = pd.merge(pivoted, df_users, on=['year','month','day','user'],how='outer')
df_merged.sort(['year','month','day','user'],inplace=True)
df_merged

,year,month,day,user,Trump_neg,Trump_neu,Trump_pos,Clinton_neg,Clinton_neu,Clinton_pos,...,Sanders_neu,Sanders_pos,Rubio_neg,Rubio_neu,Rubio_pos,Cruz_neg,Cruz_neu,Cruz_pos,supports,frequency
18232860,2006,3,21,rayreadyray,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,3
18232861,2006,3,30,adam,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232862,2006,3,30,dom,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232863,2006,3,30,noah,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232864,2006,3,30,rayreadyray,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,2
18232865,2006,3,30,timroberts,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,2
18232866,2006,6,17,nic,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232867,2006,6,17,sharon,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232868,2006,6,17,telene,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
0,2006,8,31,kmikeym,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232869,2006,9,8,sacca,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232870,2006,11,7,geoffreylong,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232871,2006,11,16,drewm,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232872,2006,12,5,minger,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
1,2006,12,22,so_n_so,0,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trump,1
2,2006,12,22,so_n_so,0,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,6
18232873,2007,3,21,nytimes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232874,2007,3,29,antichrist,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
3,2007,5,12,ursonate,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232875,2007,7,30,hunchback_slut,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,3
18232876,2007,8,18,hunchback_slut,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
4,2007,8,24,mtvmoonman,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232877,2007,9,6,hunchback_slut,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232878,2007,9,10,hunchback_slut,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232879,2007,12,31,teelajbrown,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
5,2008,1,9,market_jp,NaN,NaN,NaN,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
6,2008,1,10,rnz_news,NaN,NaN,NaN,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232880,2008,2,9,bostonherald,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232881,2008,2,9,newestdiscovery,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232882,2008,2,10,tomwatson,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18232832,2016,3,10,zzyzx,NaN,NaN,NaN,1,1,0,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,none,4
18232833,2016,3,10,zzyzxbaker,1,2,2,0,1,0,...,NaN,NaN,NaN,NaN,NaN,3,4,1,none,13
18232834,2016,3,10,zzzahpskitpxza,NaN,NaN,NaN,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232835,2016,3,10,zzzariah_,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232836,2016,3,10,zzzbor,NaN,NaN,NaN,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232837,2016,3,10,zzzcarpe,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,1,0,none,1
18232838,2016,3,10,zzzdeprived,NaN,NaN,NaN,1,0,0,...,0,0,0,1,0,1,0,0,none,1
18232839,2016,3,10,zzzertweet,NaN,NaN,NaN,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,2
18232840,2016,3,10,zzzfzqlikehdot,NaN,NaN,NaN,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232841,2016,3,10,zzzgns,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232842,2016,3,10,zzzjennifer,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232843,2016,3,10,zzzkozu1q23451,NaN,NaN,NaN,2,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,2
18232844,2016,3,10,zzzldn,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232845,2016,3,10,zzzmeowzzz,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232846,2016,3,10,zzznima,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
22605981,2016,3,10,zzzodaa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232847,2016,3,10,zzzomgg,NaN,NaN,NaN,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232848,2016,3,10,zzzpills,NaN,NaN,NaN,0,1,0,...,1,2,NaN,NaN,NaN,NaN,NaN,NaN,none,3
18232849,2016,3,10,zzzqaiz9118,NaN,NaN,NaN,2,1,0,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,none,5
18232850,2016,3,10,zzzsmurf,2,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,1,0,none,3
18232851,2016,3,10,zzztop74,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
22605982,2016,3,10,zzzweber,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232852,2016,3,10,zzzyyyz,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232853,2016,3,10,zzzz_llll,1,2,0,1,1,0,...,1,0,NaN,NaN,NaN,0,1,0,none,8
18232854,2016,3,10,zzzzaaaacccc,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232855,2016,3,10,zzzzaaaacccchhh,0,1,0,NaN,NaN,NaN,...,NaN,NaN,0,1,0,NaN,NaN,NaN,none,2
18232856,2016,3,10,zzzzalex,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,NaN,NaN,NaN,NaN,NaN,NaN,none,2
18232857,2016,3,10,zzzzt1j0203040,NaN,NaN,NaN,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1
18232858,2016,3,10,zzzzzzart,NaN,NaN,NaN,0,1,0,...,0,0,0,1,0,NaN,NaN,NaN,none,1
18232859,2016,3,10,zzzzzznz2av211,NaN,NaN,NaN,1,0,0,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,none,3

In [15]:
df_merged.fillna(0,inplace=True)
df_merged.head()

,year,month,day,user,Trump_neg,Trump_neu,Trump_pos,Clinton_neg,Clinton_neu,Clinton_pos,...,Sanders_neu,Sanders_pos,Rubio_neg,Rubio_neu,Rubio_pos,Cruz_neg,Cruz_neu,Cruz_pos,supports,frequency
18232860,2006,3,21,rayreadyray,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,none,3
18232861,2006,3,30,adam,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,none,1
18232862,2006,3,30,dom,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,none,1
18232863,2006,3,30,noah,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,none,1
18232864,2006,3,30,rayreadyray,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,none,2

In [16]:
df_merged.to_csv('daily_user_supporters_transformed.csv')